<f:layout name="Main"/>
<f:section name="Layout4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 maincontent">
                <!--TYPO3SEARCH_begin-->
                <f:format.html parseFuncTSPath="">{content_col0}</f:format.html>
                <!--TYPO3SEARCH_end-->
            </div>
            <div class="col-xs-12 col-md-4 sidebar">
                <div class="sidebarmenu">
                    <f:render partial="Page/Sidebarmenu" arguments="{_all}"/>
                </div>
                <f:format.html parseFuncTSPath="">{content_col2}</f:format.html>
            </div>
        </div>
    </div>
    <div class="col-md-12 maincontent">
        <f:format.html parseFuncTSPath="">{content_col4}</f:format.html>
    </div>
</f:section>
